<h1>
<%25.times do | i|  %>
	 <%if (i+76)%5==0%> 
	 	<%if (i+76)%3==0%> 
	 		<font color="red">
 			<%="FizzBuzz"%>
 			</font>
 		<%else%>
 		<font color="orange">
 		<%="Buzz"%>
 		<%"   "%>
 		</font>
 		<%end%>
	 <%else%>
	 <%if (i+76)%3==0%> 
	 <font color="green">
 		<%="Fizz"%>
 		<%"   "%>
 		</font>
	 <%else%>
 		 <%= (i+76) %>
 		 <%"   "%>
 	<%end%>
 	<%end%>
 	
<%if(i+1)%10==0%>
 		<br/>
 	<%end%>
<%end%>
</h1>